*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.card {
    width: 100%;
    height: 100vh;
    background-color: #5d3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.card-One{
    width: 700px;
    height: 600px;
    background-color: #b5e0ba;
    position: absolute;
    left: -55px;
}